@charset "UTF-8";

@media screen and (max-width:300px) {
    #home_pesquisa #caixa_de_pesquisa{
       display: none;
    }
    main{
        flex-wrap: nowrap;
    }
    #icone_pesquisa{
        display: flex;
        background-color:#1F1F1F;
        border-radius: 50%;
        padding: 13px;
        margin-left: 4px;
        margin-right: 8px;
    }
    #inscrever_entrar a{
        font-size: 14px;
    }
    #home_pesquisa{
        margin-left: 30px;
    }
}