@charset "UTF-8";

@media screen and (max-width:400px) {
    #home_pesquisa #caixa_de_pesquisa{
       display: none;
    }
    main{
        flex-wrap: nowrap;
    }
    #grid_esquerda{
        display: grid;
        grid-template-columns: 1rf;
        gap: 20px;
        height: 100%;
        
        
     }
    #icone_pesquisa{
        display: flex;
        background-color:#1F1F1F;
        border-radius: 50%;
        padding: 13px;
        margin-left: 4px;
        margin-right: 8px;
    }
    #inscrever_entrar a{
        font-size: 14px;
    }
    #home_pesquisa{
        margin-left: 30px;
    }
}